[submodule "React-Stories"]
	path = React-Stories
	url = git@github.com:eversardoth/React-Stories.git
[submodule "Software Development/BackEnd/Users-System"]
	path = Software Development/BackEnd/Users-System
	url = git@github.com:eversardoth/Users-System.git
[submodule "Software Development/FrontEnd/React-Stories"]
	path = Software Development/FrontEnd/React-Stories
	url = git@github.com:eversardoth/React-Stories.git
