[submodule "Software Development/FrontEnd/React-Stories"]
	path = Software Development/FrontEnd/React-Stories
	url = git@github.com:eversardoth/React-Stories.git
[submodule "Software Development/BackEnd/Spring/Appointments-System"]
	path = Software Development/BackEnd/Spring/Appointments-System
	url = git@github.com:eversardoth/Appointments-System.git
[submodule "Software Development/BackEnd/Spring/Users-System"]
	path = Software Development/BackEnd/Spring/Users-System
	url = git@github.com:eversardoth/Users-System.git
[submodule "Software Development/BackEnd/NodeJS/Jobs-API"]
	path = Software Development/BackEnd/NodeJS/Jobs-API
	url = git@github.com:eversardoth/Jobs-API.git
[submodule "Software Development/BackEnd/NodeJS/JWT-Basics"]
	path = Software Development/BackEnd/NodeJS/JWT-Basics
	url = git@github.com:eversardoth/JWT-Basics.git
[submodule "Software Development/BackEnd/NodeJS/Store-API"]
	path = Software Development/BackEnd/NodeJS/Store-API
	url = git@github.com:eversardoth/Store-API.git
[submodule "Software Development/BackEnd/NodeJS/Task-Manager"]
	path = Software Development/BackEnd/NodeJS/Task-Manager
	url = git@github.com:eversardoth/Task-Manager.git
[submodule "Software Development/FrontEnd/Appointments-System-FE"]
	path = Software Development/FrontEnd/Appointments-System-FE
	url = git@github.com:eversardoth/Appointments-System-FE.git
[submodule "Software Development/FrontEnd/Jobs-API-FE"]
	path = Software Development/FrontEnd/Jobs-API-FE
	url = git@github.com:eversardoth/Jobs-API-FE.git
